/* josefin-sans-regular - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/josefin-sans-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/josefin-sans-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/josefin-sans-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/josefin-sans-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/josefin-sans-v23-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-700 - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/josefin-sans-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/josefin-sans-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/josefin-sans-v23-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/josefin-sans-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/josefin-sans-v23-latin-700.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-italic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v23-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/josefin-sans-v23-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/josefin-sans-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/josefin-sans-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/josefin-sans-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/josefin-sans-v23-latin-italic.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-700italic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v23-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/josefin-sans-v23-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/josefin-sans-v23-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/josefin-sans-v23-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/josefin-sans-v23-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/josefin-sans-v23-latin-700italic.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
* {
    border: 1px solid red !important;
}

html, body {
    font-family: 'Josefin Sans', "Arial Narrow", sans-serif;
    font-size: 16px;
    background-color: ghostwhite;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin: 10px auto;
    padding: 5px 5px;
    text-transform: capitalize;
    text-shadow: 1px 0px gray;

}

h2 {
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    margin: 10px auto;
    padding: 5px 5px;
    text-transform: capitalize;
    text-shadow: 1px 0px gray;
    color: dimgray;

}
p {
    text-align: center;
}
header {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 100%;
    justify-content: space-around;
    height: auto;
    align-content: center;
}

li a {
    color: darkgray;
    opacity: .9;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 5px 2px;
}

main {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-content: center;

}

.title-box {
    display: flex;
    flex-flow: column wrap;
    min-height: 350px;
    height: auto;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    margin: 25px auto;
    background-image: url("../media/img/title_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    ;
}

.title-box h2, p {
    background: ghostwhite;
    width: 100%;
    padding: 10px 4px;
    margin: 0 auto;
}
